@import url("https://fonts.googleapis.com/css?family=Poppins:200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
section {
  padding: 100px;
}
.banner {
  position: relative;
  min-height: 100vh;
  background-color:#000; 
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}
.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
}
.banner h3 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}
.btn {
  position: relative;
  background: #2196f3;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky {
  background: #fff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header .logo {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}
header.sticky .logo {
  color: #111;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}
header.sticky ul li a {
  color: #111;
}
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}
.heading h2 {
  font-weight: 600;
  font-size: 30px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.contentBx {
  padding-right: 30px;
}
.contentBx h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.w50 {
  min-width: 50%;
}
img {
  max-width: 55%;
}
.services {
  background: #111;
}
.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.Info .content .InfoBx {
  padding: 40px 20px;
  background: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}
.Info .content .InfosBx:hover {
  background: #2196f3;
}
.Info.content .InfoBx h2 {
  font-size: 20px;
  font-weight: 600;
}
